.box {
	width: 520px;
	height: 420px;
	left: 850px;
	top: 160px;
	position: absolute;
	box-sizing: border-box;
	padding: 70px;
	padding-top: 100px;
}
.box h1 {
	font-size: 31px;
	font-family: 'Comic Sans MS';
	text-align: center;
}
.gambar {
	width: 120px;
	height: 63px;
	position: absolute;
	top: 30px;
	left: 200px;
}
.box input {
	width: 100%;
	margin-bottom: 20px;
}
.box input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 3px solid #7AB6F5;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
	font-family: 'Comic Sans MS';
}
.login {
	padding: 10px 17px;
	width: 380px;
	height: 50px;
	background-color: #7AB6F5;
	color: #FFFFFF;
	border: none;
	border-radius: 33px;
	font-family: 'Comic Sans MS';
	font-size: 25px;
}
.login:hover {
	cursor: pointer;
	background-color: #4361EE;
}